<div class="container-fluid h-100">
  <div class="container timeline-wrapper">
    <h2 class="heading">Education</h2>
    <!--first section-->
    <div class="row align-items-center how-it-works">
      <div class="col-2 text-center bottom">
        <div class="circle circle-left"></div>
      </div>
      <div class="col-6 text-box-left">
        <div class="img-container-1">
          <div class="img-div"></div>
        </div>
        <div class="text-box-header">
          <h5>The University of Chicago: Bachelor of Science in Mathematics</h5>
        </div>
        <div></div>
        <div class="text-box-subheader">
          <h6>Graduated June 2013</h6>
        </div>
        <div class="text-box-body">
          <ul>
            <li> A comprehensive liberal arts education with a concentration in Mathematics and Computer Science.
            </li>
            <li>
              Advanced coursework in topology, linear algebra, statistics and discrete math</li>
          </ul>
        </div>
      </div>
    </div>
    <!--path between 1-2-->
    <div class="row timeline">
      <div class="col-2">
        <div class="corner top-right"></div>
      </div>
      <div class="col-8">
        <hr>
      </div>
      <div class="col-2">
        <div class="corner left-bottom"></div>
      </div>
    </div>
    <!--second section-->
    <div class="row align-items-center justify-content-end how-it-works">
      <div class="col-6 text-box-right">
        <div class="text-box-header">
          <h5>Online Coursework in Programming, CS, and Machine Learning</h5>
        </div>
        <div class="img-container-2">
          <div class="img-div"></div>
        </div>
        <div class="text-box-body">
          <h6>Courses Completed from 2016 - Present:</h6>
          <ul>
            <li>Machine Learning A-Z: Hands-On Python & R in Data Science | Kirill Eremenko & Hadelin de Ponteves</li>
            <li>The Advanced Web Developer Bootcamp | Colt Steele</li>
            <li>The Modern Python 3 Bootcamp | Colt Steele</li>
            <li>Angular 8 - The Complete Guide | Maximilian Schwarzmüller</li>
            <li>JavaScript: Understanding the Weird Parts | Anthony Alicea</li>
            <li>Easy to Advanced Data Structures | William Fiset</li>
            <li>Graph Theory Algorithms | William Fiset</li>
            <li>Docker from A to Z: Swarm + Jenkins | James Kayes-Smith</li>
          </ul>
        </div>
      </div>
      <div class="col-2 text-center full">
        <div class="circle circle-right"></div>
      </div>
    </div>
    <!--path between 2-3-->
    <div class="row timeline">
      <div class="col-2">
        <div class="corner right-bottom"></div>
      </div>
      <div class="col-8">
        <hr />
      </div>
      <div class="col-2">
        <div class="corner top-left"></div>
      </div>
    </div>
    <!--third section-->
    <div class="row align-items-center how-it-works">
      <div class="col-2 text-center full-left">
        <div class="circle circle-left"></div>
      </div>
      <div class="col-6 text-box-left">
        <div class="img-container-4">
          <div class="img-div"></div>
        </div>
        <div class="text-box-header">
          <h5>Self Directed Golang Study</h5>
        </div>
        <div></div>
        <div class="text-box-subheader">
        </div>
        <div class="text-box-body">
          <ul>
            <li></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row timeline">
      <div class="col-2">
        <div class="corner top-right"></div>
      </div>
      <div class="col-8">
        <hr>
      </div>
      <div class="col-2">
        <div class="corner left-bottom"></div>
      </div>
    </div>
    <div class="row align-items-center justify-content-end how-it-works">
      <div class="col-6 text-box-right">
        <div class="text-box-header">
          <h5>Dataquest: Data Engineer in Python Interactive Guided Course </h5>
        </div>
        <div class="img-container-3">
          <div class="img-div"></div>
        </div>
        <div><h6>Course Content Includes:</h6></div>
        <div>
        </div>
        <div class="text-box-body">
          <ul>
            <li>SQL: Complex Queries, Table Relations, and Normalization</li>
            <li>PostgreSQL: Prepared Statements & SQL Injections, ETL Pipelines, User Management, Advanced Indexing,
              Vacuuming Databases</li>
            <li>Optimizing Performance on Large Datasets: CPU vs I/O Bound Programs, Multiprocessing & Worker Pools,
              Parallel Processing</li>
            <li>Processing Large Datasets in Pandas: Memory Footprint, Batch Processing, Intermediate Dataframes</li>
            <li>Constructing Data Pipelines and Task Scheduling with Directed Acyclic Graphs</li>
          </ul>
        </div>
      </div>
      <div class="col-2 text-center top">
        <div class="circle circle-right"></div>
      </div>
    </div>
    <!--path between 2-3-->
    <div class="row timeline">
      <div class="col-2">
      </div>
    </div>
  </div>
</div>