.contentArea {
  margin-top: 10vh;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(3, auto);
  justify-content: center;
  align-content: center;
}

.icon-wrapper, .label-wrapper {
display: flex;
justify-self: center;
}

svg-icon {
  fill: ivory;
}

svg {
  margin: 0px 0px !important;
}

.large-text, .small-text {
  grid-column: span 2;
  padding-left: 20px;
  padding-top: 40px;
  align-self: center;
}

.label {
  font-size: medium;
  color: ivory;
  font-family: "OpenSans";
  text-align: center;
  padding-top: 10px;
  max-width: 8vw;
}

h3 {
  color: ivory;
  font-family: "OpenSans";
  font-size: 38px;
  text-align: right;
}

hr {
  width: 100%;
  margin-right: 0px;
  margin-top: 2px;
  margin-bottom: 2px;
}

p {
  color: ivory;
  font-family: "OpenSans";
  font-size: 16px;
  text-align: left;
  margin-bottom: 4px;
}

