<div class="container">
  <div @iconItemAnimation class="col contentArea" *ngIf="loaded">
    <div class="icon-wrapper">
      <svg-icon
        src="../../assets/icons/data-analysis-interface-symbol-of-a-monitor-with-a-bars-graphic-with-a-magnifier.svg"
        [applyCss]="true" [svgStyle]="{'width.vw': 6}">
      </svg-icon>
    </div>
    <div class="icon-wrapper">
      <svg-icon src="../../assets/icons/brain-computer-interface.svg" [applyCss]="true" [svgStyle]="{'width.vw': 6}">
      </svg-icon>
    </div>
    <div class="icon-wrapper">
      <svg-icon src="../../assets/icons/data.svg" [applyCss]="true" [svgStyle]="{'width.vw': 6}">
      </svg-icon>
    </div>
    <div class="icon-wrapper">
      <svg-icon src="../../assets/icons/api.svg" [applyCss]="true" [svgStyle]="{'width.vw': 6}">
      </svg-icon>
    </div>
    <div class="label-wrapper">
      <p class="label">Interactive Data Visualizations</p>
    </div>
    <div class="label-wrapper">
      <p class="label">Business Intelligence Automation</p>
    </div>
    <div class="label-wrapper">
      <p class="label">Database and API Architecture</p>
    </div>
    <div class="label-wrapper">
      <p class="label">Data Pipeline Design</p>
    </div>
    <div class="large-text">
      <h3>I'm Colin, and I make tools for collecting, managing, and making sense of data.</h3>
    </div>
    <div class="small-text">
      <p>
        I am passionate about
        creating web applications and dashboards that put powerful data analysis capabilites at the user's fingertips.
        I currently live in Bali, Indonesia where I split my time between freelancing and leading the data analytics
        team at a successful startup.</p>
      <hr>
      <p>Spending too much time on one-off reports? Let me automate that for you!
      </p>
    </div>
  </div>
</div>