.blurred {
	background: gray;
	filter: blur(20px);
	position: relative;
	top: -315px;
/* 	transform: scale(1.05); */
	z-index: -1;
}

#menu li {
  display: inline-block;
  margin-top: 20px;
  margin-left: 12px;
  color: #fff;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}
#menu li.active {
  background: #666;
  // background: rgba(0, 0, 0, 0.5);
  color: #fff;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
}
#menu li a {
  text-decoration: none;
  color: #fff;
}
#menu li.active a:hover {
  color: #000;
}
#menu li:hover {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
}

#menu li a:hover {
  color: #000;
}

#menu li a,
#menu li.active a {
  padding: 4px 8px;
  display: block;
}
#menu li.active a {
  color: #fff;
}
#menu {
  position: absolute;
  height: 100px;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin: 0;
}

#homePage {
  background: linear-gradient(
      to top left,
      rgba(0, 47, 75, 0.4),
      rgba(255, 255, 255, 0.5)
    ),
    url("../assets/img/data-graphs-laptop-577210.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#aboutPage {
  background: linear-gradient(
      to top left,
      rgba(10, 165, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url("../assets/img/chalkboard.jpg");
  background-repeat: repeat;
}

#skillsPage {
  background: linear-gradient(
      to top left,
      rgba(10, 165, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url("../assets/img/dark-wood.jpg");
  background-repeat: repeat;
}

#educationPage {
  background: linear-gradient(
      to top left,
      rgba(10, 165, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url("../assets/img/chalkboard.jpg");
  background-repeat: repeat;
}



#portfolioPage {
  background: linear-gradient(
      to top left,
      rgba(10, 165, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url("../assets/img/dark-wood.jpg");
  background-repeat: repeat;
}

#experiencePage {
  background: linear-gradient(
      to top left,
      rgba(10, 165, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url("../assets/img/chalkboard.jpg");
  background-repeat: repeat;
}

#contactPage {
  background: linear-gradient(
      to top left,
      rgba(10, 165, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url("../assets/img/dark-wood.jpg");
  background-repeat: repeat;
}


