<!-- app.component.html -->
<ul *ngIf="showMenu" id="menu">
  <li data-menuanchor="home"><a href="#home">Home</a></li>
  <li data-menuanchor="aboutPage" [ngClass]="{'active': activeAnchor === 'aboutPage'}"><a href="#aboutPage">About Me</a>
  </li>
  <li data-menuanchor="skillsPage" [ngClass]="{'active': activeAnchor === 'skillsPage'}"><a
      href="#skillsPage">Skills</a></li>
  <li data-menuanchor="experiencePage" [ngClass]="{'active': activeAnchor === 'experiencePage'}"><a
      href="#experiencePage">Experience</a></li>
  <li data-menuanchor="contactPage" [ngClass]="{'active': activeAnchor === 'contactPage'}"><a
      href="#contactPage">Contact Me</a></li>
</ul>

<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)" #fullpageRef>
  <div class="section fp-noscroll" id="landing">
    <div class="container">
      <div class="row justify-content-center">
        <app-landing-page [delayOver]="delayOver" (moveDown)="handleMoveDown($event)"></app-landing-page>
      </div>
    </div>
  </div>
  <div class="section fp-noscroll" id="about">
    <div class="about-bg"></div>
    <app-about-page [animationStep]="animationStep"></app-about-page>
  </div>
  <div class="section" id="skills">
    <div class="slide fp-noscroll">
      <app-skills-page [skillsPageLoaded]="skillsPageLoaded"></app-skills-page>
    </div>
    <div class="slide" id="projects">
      <app-projects-page [projectsPageLoaded]="projectsPageLoaded"></app-projects-page>
    </div>
  </div>
  <div class="section" id="experience">
    <app-experience-page></app-experience-page>
  </div>
  <div class="section" id="contact">
    <app-contact-page></app-contact-page>
  </div>
</div>