<div class="container-fluid d-flex flex-column" style="min-height:90vh; padding-bottom:50px;">
  <div class="row justify-content-center">
    <div class="col">
      <div class="frosted">
        <div id="content">
          <div class="prof-img">
            <img src="../../assets/img/headshot.jpg" alt="Colin David Lethem" class="rounded-circle">
          </div>
          <h1 class="display-1">Colin David Lethem</h1>
          <hr>
          <div class="lead" style="font-size: 2.5em;">
            Data Engineer
            <fa-icon [icon]="faCode"></fa-icon>
            Full-Stack Developer
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center flex-fill align-content-end">
        <button style="display:contents" (click)="onClick()">
          <fa-icon class="arrowDown" [ngClass]="{'bouncing': this.delayOver}" [icon]="faChevronCircleDown"></fa-icon>
        </button>
  </div>
</div>