#content {
  text-align: center;
  font-family: "Lato";
  color: whitesmoke;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.6), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-top: 5%;
}

.flex-fill{
  flex: 1;
}

.arrowDown {
  height: 15vh;
  width: 15vh;
  max-height: 150px;
  max-width: 150px;
  font-size: 100px;
  color: whitesmoke;
}

.bouncing {
  animation: bounce 2s infinite;
  z-index: 5;
}

.delayedShow{
  visibility: hidden;
  animation: 0s linear 1.7s forwards delayedShow ;
}

@keyframes delayedShow {
  to {
    visibility: visible;
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.frosted {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.01);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(2px);
}

.prof-img img {
  width: 250px;
}

.prof-img {
  position: relative;
  top: 100px;
  z-index: -1;
}

h1 {
  font-weight: 700;
  font-size: 5em;
}

h3 {
  font-size: 3em;
}

hr {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.fa-code g g path {
  stroke: black;
  stroke-width: 4px;
}
