<div class="container">
  <div class="row">
    <div class="col">
      <div class="frosted">
        <div id="content">
          <div class="prof-img">
            <img src="../../assets/img/headshot.jpg" alt="Colin David Lethem" class="rounded-circle">
          </div>
          <h1 class="display-1">Colin David Lethem</h1>
          <hr>
          <div class="lead" style="font-size: 2.5em;">
            Data Engineer
            <fa-icon [icon]="faCode"></fa-icon>
            Full-Stack Developer
          </div>
          <br>
          <!-- <ul id="menu-inline">
            <li data-menuanchor="home" class="active" f><a href="#home">Home</a></li>
            <li data-menuanchor="aboutPage"><a href="#aboutPage">About Me</a></li>
            <li data-menuanchor="skillsPage"><a href="#skillsPage">Skills</a></li>
            <li data-menuanchor="educationPage"><a href="#educationPage">Education</a></li>
            <li data-menuanchor="projectsPage"><a href="#projectsPage">Projects</a></li>
            <li data-menuanchor="experiencePage"><a href="#experiencePage">Experience</a></li>
            <li data-menuanchor="contactPage"><a href="#contactPage">Contact Me</a></li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>
</div>
