<div class="hovereffect">
  <img class="img-responsive" src="{{ projectData.thumbURL }}" alt="">
  <div class="overlay">
    <h2>{{ projectData.title }}</h2>
    <span class="links-row">
      <a href="{{ projectData.githubURL }}" class="btn btn-outline-secondary">
        Source&nbsp;<svg-icon src="../../assets/icons/github-brands.svg" [applyCss]="true"></svg-icon>
      </a>
      <a class="btn btn-outline-secondary" (click)="showDetails()">Info&nbsp;<fa-icon [icon]="faInfoCircle">
        </fa-icon>
      </a>
      <a href="{{ projectData.demoURL }}" class="btn btn-outline-secondary">
        Demo&nbsp;
        <fa-icon [icon]="faExternalLinkAlt"></fa-icon>
      </a>
    </span>
    <p>{{ projectData.shortDesc }}
    </p>
  </div>
</div>