text {
  font: 12px sans-serif;
  text-anchor: middle;
  color: ivory;
}

.node--hover circle {
  stroke: ivory;
  stroke-width: 1.6px;
}

svg{
  display: block;
  margin-right: 0px;
  margin-left: auto;
}
